<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Success! Welcome, {{ request.session.name }}</h1>

    <form action="/logout" method="GET">
        <input type="submit" value="Log Out">
    </form>

    <!-- <table width="800px">
            <thead>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th> 
                <th>Birthday</th>
                <th>Created At</th>
            </thead>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.birthday }}</td>
                    <td>{{ user.created_at }}</td>
                </tr>
            {% endfor %}
        </table> -->
</body>
</html>