<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cat List</title>
</head>
<body>
    <h1>Here's a List of All the Cats I've Ever Had:</h1>
    <ul>
        <li>Sammy</li>
        <li>Ernie</li>
        <li>Kanye</li>
        <li>Lilly</li>
        <li>Cleo</li>
        <li>Gibbs</li>
        <li>MacPherson</li>
        <li>Lizzie</li>
        <li>Robbie</li>
        <li>Lionel</li>
        <li>Marvin</li>
    </ul>
</body>
</html>