<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img src="../static/img/raphael.jpg" alt="Raphael" id="Red">
    <img src="../static/img/michelangelo.jpg" alt="Michelangelo" id="Orange">
    <img src="../static/img/leonardo.jpg" alt="Leonardo" id="Blue">
    <img src="../static/img/donatello.jpg" alt="Donatello" id="Purple">
    <img src="../static/img/notapril.jpg" alt="April O'neil" id="April">
</body>
</html>