<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninjas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/ninja_styles.css')}}">
</head>
<body>
    <div class="wrapper">
        <h1>NINJAS</h1>
        <img src="../static/img/ninja.jpeg" alt="ninjas">
        <p>Did you know?</p>
        <ul>
            <li>-> Ninjas were invented in the 1100's</li>
            <li>-> Mark Wahlberg is part of the secret ninja society</li>
            <li>-> Crouching Tiger, Hidden Dragon is a documentary on the life of ninjas</li>
            <li>-> Some ninjas are earth benders</li>
            <li>-> Ninjas descended from turtles</li>
            <li>-> George Lucas based the jedi off of ninjas</li>
        </ul>
    </div>
</body>
</html>